<form action="/admin" method="post" style="margin-top: 100px;">
  <div class="admin-wrapper-img">
    <label for="productImage">產品圖片</label>
    <input type="text" name="image" id="productImage">
  </div>
  <div class="admin-wrapper">
    <label for="productImage">產品名稱</label>
    <input type="text" name="image" id="productImage">
  </div>
  <div class="admin-wrapper">
    <label for="productImage">產品圖片</label>
    <input type="text" name="image" id="productImage">
  </div>
  <div class="admin-wrapper">
    <label for="productImage">產品圖片</label>
    <input type="text" name="image" id="productImage">
  </div>

  <button type="submit">建立</button>
</form>
