{{!-- <div class="helper-center">幫助中心</div> --}}

<div class="help-container">
  <div class="wrapper">
    <div class="help-title">關於禎嚴選</div>
    <div class="description">這裡是電商百貨，什麼都買得到，但一定是嚴選價格優、品質好的產品。</div>
    <div class="help-title">特色</div>
    <ul class="description">
      <li><i class="far fa-question-circle"></i>產品諮詢</li>
      <li><i class="far fa-comments"></i>心得交流</li>
      <li><i class="fas fa-balance-scale-right"></i>比較建議</li>
    </ul>
    <div class="help-title">如何使用禎嚴選</div>
    <div class="description">每週不定期更新嚴選商品，如有欲尋找的商品規格、類型，歡迎直接在群聊發問。</div>
    <div class="help-sub"><span>阿禎的話</span></div>
    <div class="help-title">真的嚴選，商品統一由阿禎發佈上架</div>
    <div class="description">產品只會由阿禎發佈，好康的、優惠的阿禎報你給知</div>
    <div class="help-title">好友也想加入Link群組，獲得好康資訊</div>
    <div class="description">非常歡迎，不過邀請前請先告知阿禎，方便阿禎管理群組。</div>
    <div class="help-sub"><span>購物須知</span></div>
    <div class="help-title">運費規則</div>
    <div class="description">每間廠商運費不一，購物前請先注意運費價格。</div>
    <div class="help-title">出貨前付款</div>
    <div class="description">商品由阿禎統一出貨，目前只提供出貨前付款，造成不便請見諒。</div>
    <div class="help-title">付款方式</div>
    <ul class="description">
      <li>ATM</li>
      <li>LINE PAY</li>
      <li>街口支付</li>
    </ul>
  </div>
</div>